name: CD

on:
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Set up Minikube
        uses: medyagh/setup-minikube@v0.0.14


      - name: Deploy to Minikube
        run: |
          kubectl apply -f k8s/

      - name: Test Application
        run: |
           curl http://localhost:3000
        env:
          TMDB_KEY: dummy
